<section class="mt-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="message">
                    <p>{{message}}</p>
                </div>
                <div>
  <!-- event handing -->
                <button class="btn btn-success" (click)="updateMassege('good morning')" >good morning</button>
                <button class="btn btn-success" (click)="updateMassege('good evening')" >good evening</button>
                <button class="btn btn-success" (click)="updateMassege('good night')">good night</button>
                </div>
            </div>
        </div>
    </div>
</section>
